//breakpoints
$mobile-breakpoint: 769px;
$tablet-breakpoint: 1060px;


//font sizes
$desktop-body-copy: 18px;
$desktop-body-line-height: 36px;

$desktop-large-copy: 28px;
$desktop-large-line-height: 56px;

$desktop-x-large-copy: 36px;
$desktop-large-line-height: 60px;


$mobile-body-copy: 18px;
$mobile-body-line-height: 32px;

$mobile-large-copy: 28px;
$mobile-large-line-height: 42px;

$mobile-x-large-copy: 36px;
$mobile-x-large-line-height: 60px;
