
.Ad {
  height: auto;
  min-height: 1200px;
  width: 100%;
  background-color: white;
  color: black;

  a {
    color: inherit;
  }


  .left-and-right {
    padding-top: 15%;


    .left {
      float: left;
      width: 60%;

      .left-container {
        padding-left: 100px;

        .logo {
          width: 18vw;
          float: left;
          margin-bottom: 80px;

          @media screen and (max-width: 1350px) {
            margin-bottom: 50px;
          }

          @media screen and (max-width: 1060px;) {
            margin-bottom: 40px;
          }

          @media screen and (max-width: 768px) {
            width: 23vw;
            margin-bottom: 30px;
          }

        }

        @media screen and (max-width: 768px) {
          padding-left: 30px;
        }

      }


    }

    .right {
      float: left;
      width: 40%;
      position: relative;

    }

    @media screen and (max-width: 768px) {
      padding-top: 7%;
    }


  }

  .quote-and-text {
    padding-top: 20px;
  }


  .small-text {
    float: left;
    font-size: 15px;
    padding-left: 8px;
    padding-bottom: 7px;
  }

  .quote {
    float: left;
    clear: left;
    width: 18px;
  }

  .large-text {
    clear: left;
    float: left;
    text-align: left;
    font-size: 3.2vw;

    @media screen and (max-width: 1350px) {
      font-size: 3.4vw;
    }

    @media screen and (max-width: 1060px;) {
      font-size: 3.8vw;
    }

    @media screen and (max-width: 768px) {
      font-size: 4vw;
    }
  }

  .product-and-image {
    position: relative;

    .product {
      width: 100px;
      width: 10vw;
      padding-left: 30%;

      @media screen and (max-width: 1060px;) {
        width: 11vw;
      }

      @media screen and (max-width: 768px) {
        width: 14vw;
      }

    }

    .buy-me {
      font-size: 1.2vw;
      margin-left: -2%;
      padding-left: 30%;

      @media screen and (max-width: 1060px;) {
        margin-left: -7%;
        font-size: 1.9vw;
      }

      @media screen and (max-width: 768px) {
        margin-left: -16%;
        font-size: 2.8vw;
      }
    }

  }

  @media screen and (max-width: 1815px) {
    min-height: 1000px;
  }

  @media screen and (max-width: 1500px) {
    min-height: 800px;
  }

  @media screen and (max-width: 1060px;) {
    min-height: 600px;
  }

  @media screen and (max-width: 768px) {
    min-height: 400px;
  }

  @media screen and (max-width: 600px;) {
    min-height: 320px;
  }

  @media screen and (max-width: 450px) {
    min-height: 250px;
  }

}
