@import '../assets/partials/_variables';


.BeeSubcopy {

  .subcopy-container {

    width: 40%;
    min-width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;


    .part-one {
      width: 100%;
      font-size: $desktop-large-copy;
      font-weight: lighter;
      margin-top: 30px;
      line-height: 45px;
      margin-bottom: 50px;
    }

    .part-two {

      .text {
        font-size: $desktop-body-copy;
        line-height: $desktop-body-line-height;

      }
      .white-box {
        background-color: white;
        color: black;
        width: 35%;
        padding: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
        max-height: 300px;
        float: right;

        .large-text {
          font-size: 28px;
          line-height: 40px;
          padding-bottom: 20px;

          .break {
            display: block;
          }
        }

        &.desktop {
          display: inline;
        }
        &.mobile {
          display: none;
        }
      }

    }

    .p1 {
      margin-bottom: 30px;
    }

  }

  @media only screen and (max-width : $mobile-breakpoint) {

    .subcopy-container {
      width: 90%;
      margin: auto;
      margin-bottom: 0;
      min-width: 0px;


      .part-one {
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: $mobile-large-copy;
        line-height: $mobile-large-line-height;
      }

      .part-two {
        width: 100%;
        .white-box {
          &.desktop {
            display: none;
          }
          &.mobile {
            margin-top: 20px;
            display: block;
            width: 100%;
            float: none;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 10%;
            padding: 0px;

          }

          .large-text {
            padding: 30px;
          }

          .small-text {
            padding-left: 30px;
            padding-bottom: 30px;
          }
        }
      }
    }

  }


}
